

    #logo1 {
        color: green;
    }

    #logo1-1 {
        color: blue;
    }

    .container {
        width: 800px;
        height: 800px;
        margin-left: auto;
        margin-right: auto;
    }