
    .container {
        width: 800px;
        height: 800px;
        margin-left: auto;
        margin-right: auto;
    }


    
    @media only screen and (max-width: 415px) {

        .container {
            width: 410px;

            margin-left: auto;
        }

        h1 {
            font-size: 35px;
        }
            
      }